
*,::before,::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label{
  font-size: 20px;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(68, 68, 90, 1);
}

.container h1{
  margin-bottom: 20px;
}
.container form{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 10px;
}

.container div{
  display: flex;
  flex-direction: column;
  ;
}
.container input{
  font-size: 24px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1ps solid black;
  padding: 10px;
}

.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: black;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}